---
import type { GetStaticPaths } from 'astro'
import Layout from '~/layouts/Layout.astro'
import { TagsGroup } from '~/content-utils'
import Pagination from '~/components/Pagination.astro'
import siteConfig from '~/site.config'
import PostPreviewCompact from '~/components/PostPreviewCompact.astro'
import PageHeader from '~/components/PageHeader.astro'
import { assertLang, supportedLangs, ui } from '~/i18n'

// Note: Pagination like '/', '/2', '/3' only works with spread param like [...page]
export const getStaticPaths = (async ({ paginate }) => {
  const pages = []
  for (const lang of supportedLangs) {
    const tagsGroup = await TagsGroup.build(lang)
    pages.push(
      ...tagsGroup.collations.flatMap((tags) => {
        return paginate(tags.entries.reverse(), {
          props: { lang, tagTitle: tags.title },
          params: { lang, tag: tags.titleSlug },
          pageSize: siteConfig.pageSize,
        })
      }),
    )
  }
  return pages
}) satisfies GetStaticPaths

const lang = assertLang(Astro.params.lang!)
const t = ui[lang]
const { page, tagTitle } = Astro.props
const pageTitle =
  `Tag: ${tagTitle}` + (page.currentPage > 1 ? ` - Page ${page.currentPage}` : '')
---

<Layout
  lang={lang}
  route={{ type: 'tag', slug: Astro.params.tag!, page: page.currentPage }}
  title={pageTitle}
  description={`All posts tagged with ${tagTitle}`}
>
  <div class="mt-2 sm:mt-0">
    <PageHeader titlePieces={[t.tags, tagTitle]} />
    {page.data.map((post) => <PostPreviewCompact post={post} lang={lang} />)}
    <Pagination
      prevLink={page.url.prev ? encodeURI(page.url.prev) : undefined}
      prevText={t.newerPosts}
      nextLink={page.url.next ? encodeURI(page.url.next) : undefined}
      nextText={t.olderPosts}
    />
  </div>
</Layout>
